.footer {
  background-color: $black;
  color: $white;
  padding: $ic-700 0;
  font-size: $ic-200;

  a {
    color: $white;
    text-decoration: none;
    display: block;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 0;
  }

  &__nav {
    ul {
      margin: 0;
    }
  }

  &__nav-list {
    padding: 0;
  }

  &__nav-list-item {
    list-style-type: none;
    margin-top: 0;
  }

  &__nav-item {
    padding: $ic-100 $ic-200;
  }
}
