.contact-form {
  &__netlify-bot-field {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  .contact-form__form-group input,
  .contact-form__form-group textarea {
    background-color: #f6f6f6;
    border: 1px solid #939393;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $primary-color;
  }

  &__form-group input {
    height: $ic-700;
  }

  .radio {
    align-items: center;

    input {
      width: auto;
      margin-bottom: 0;
      margin-right: $ic-200;
    }
  }

  .date-wrapper {
    .contact-form__form-group + .contact-form__form-group {
      margin-left: $ic-200;
    }
  }

  &__form-group textarea {
    height: 10rem;
  }

  &__btn {
    border: none;
  }
}

.contact-sidebar {
  @include breakpoint(md) {
    margin-left: 2rem;
  }
}
