/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v15-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/poppins-v15-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: $primary-font;
  font-size: $ic-300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.65em;
}

p {
  margin: 0;
}

.max-80 {
  max-width: $measure;
}

h1,
.h1 {
  font-size: $ic-600;
}

h2,
.h2 {
  font-size: $ic-500;
}

h3,
.h3 {
  font-size: $ic-400;
}

h4,
.h4 {
  font-size: $ic-300;
}

h5,
.h5 {
  font-size: $ic-200;
}

h6,
.h6 {
  font-size: $ic-200;
}

@include breakpoint(md) {
  h1,
  .h1 {
    font-size: $ic-700;
  }

  h2,
  .h2 {
    font-size: $ic-600;
  }

  h3,
  .h3 {
    font-size: $ic-500;
  }

  h4,
  .h4 {
    font-size: $ic-400;
  }

  h5,
  .h5 {
    font-size: $ic-300;
  }
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: $ic-100;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.shift-first {
  text-transform: capitalize;
}

.shift-up {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary-color;
}
